<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$title}</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/public/admin/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/public/admin/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/public/admin/css/amazeui.min.css" />
    <link rel="stylesheet" href="/public/admin/css/admin.css">
    <link rel="stylesheet" href="/public/admin/css/app.css">
    <script src="/public/admin/js/echarts.min.js"></script>
</head>

<body data-type="index">


{include file="index/header"/}






    <div class="tpl-page-container tpl-page-header-fixed">

        {include file="index/menu"/}





        <div class="tpl-content-wrapper">
            <!--<div class="tpl-content-page-title">-->
                <!--Amaze UI 首页组件-->
            <!--</div>-->
            <!--<ol class="am-breadcrumb">-->
                <!--<li><a href="#" class="am-icon-home">首页</a></li>-->
                <!--<li><a href="#">分类</a></li>-->
                <!--<li class="am-active">内容</li>-->
            <!--</ol>-->
            <div class="tpl-content-scope">
                <div class="note note-info">
                    <h3>中学化学教学管理系统
                        <span class="close" data-close="note"></span>
                    </h3>
                    <!--<p> 教学管理系统含近 20 个 CSS 组件、20 余 JS 组件，更有多个包含不同主题的 Web 组件，可快速构建界面出色、体验优秀的跨屏页面，大幅提升开发效率。</p>-->
                    <!--<p><span class="label label-danger">提示:</span>中文排版，根据用户代理调整字体，实现更好的中文排版效果。-->
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat blue">
                        <div class="visual">
                            <i class="am-icon-comments-o"></i>
                        </div>
                        <div class="details">
                            <div class="number"> {$data.view} </div>
                            <div class="desc"> 今日游览数 </div>
                        </div>
                        <a class="more" href="#"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
                    </div>
                </div>
                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat red">
                        <div class="visual">
                            <i class="am-icon-bar-chart-o"></i>
                        </div>
                        <div class="details">
                            <div class="number"> {$data.ex_num} </div>
                            <div class="desc"> 今日上传实验 </div>
                        </div>
                        <a class="more" href="#"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
                    </div>
                </div>
                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat green">
                        <div class="visual">
                            <i class="am-icon-apple"></i>
                        </div>
                        <div class="details">
                            <div class="number"> {$data.user_num} </div>
                            <div class="desc"> 今日注册用户 </div>
                        </div>
                        <a class="more" href="#"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
                    </div>
                </div>
                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat purple">
                        <div class="visual">
                            <i class="am-icon-android"></i>
                        </div>
                        <div class="details">
                            <div class="number"> {$data.comm_num} </div>
                            <div class="desc"> 今日留言 </div>
                        </div>
                        <a class="more" href="#"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
                    </div>
                </div>



            </div>

            <div class="row">

                <div class="am-u-md-6 am-u-sm-12 row-mb">
                    <div class="tpl-portlet">
                        <div class="tpl-portlet-title">
                            <div class="tpl-caption font-green ">
                                <span>最新留言</span>
                            </div>

                        </div>

                        <div class="am-tabs tpl-index-tabs" data-am-tabs>
                            <ul class="am-tabs-nav am-nav am-nav-tabs">
                                <!--<li class="am-active"><a href="#tab1">已回复</a></li>-->
                                <!--<li><a href="#tab2">未回复</a></li>-->
                            </ul>

                            <div class="am-tabs-bd">
                                <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                                    <div id="wrapperA" class="wrapper">
                                        <div class="tpl-scrollable">

                                            <table class="am-table tpl-table">

                                                <tbody>
                                                {volist name="comment" id="line"}
                                                <tr>
                                                    <td>
                                                        <a class="user-name" href="###">{$line.username}</a>
                                                    </td>
                                                    <td>{$line.content}</td>
                                                    <td>{$line.add_time}</td>
                                                </tr>
                                                {/volist}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="am-u-md-6 am-u-sm-12 row-mb">
                    <div class="tpl-portlet">
                        <div class="tpl-portlet-title">
                            <div class="tpl-caption font-red ">
                                <!--<i class="am-icon-bar-chart"></i>-->
                                <span>登录用户</span>
                            </div>
                        </div>
                        <div class="tpl-scrollable">

                            <table class="am-table tpl-table">
                                <thead>
                                    <tr class="tpl-table-uppercase">
                                        <th>用户名</th>
                                        <th>邮箱</th>
                                        <th>时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {volist name="user" id="line"}
                                    <tr>
                                        <td>
                                            <img src="{$line.photo}" alt="" class="user-pic">
                                            <a class="user-name" href="###">{$line.username}</a>
                                        </td>
                                        <td>{$line.email}</td>
                                        <td>{$line.last_time}</td>
                                    </tr>
                                {/volist}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>





        </div>

    </div>


    <script src="/public/admin/js/jquery.min.js"></script>
    <script src="/public/admin/js/amazeui.min.js"></script>
    <script src="/public/admin/js/iscroll.js"></script>
    <script src="/public/admin/js/app.js"></script>
</body>

</html>