<!-- footer -->
<div class="footer">
    <div class="footer-grids">
        <!--<div class="footer-top">-->
        <!--<div class="footer-top-nav">-->
        <!--<ul>-->
        <!--<li><a href="about.html">关于我们</a></li>-->
        <!--<li><a href="press.html">Press</a></li>-->
        <!--<li><a href="copyright.html">Copyright</a></li>-->
        <!--<li><a href="creators.html">Creators</a></li>-->
        <!--<li><a href="#">Advertise</a></li>-->
        <!--<li><a href="developers.html">Developers</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--<div class="footer-bottom-nav">-->
        <!--<ul>-->
        <!--<li><a href="terms.html">Terms</a></li>-->
        <!--<li><a href="privacy.html">Privacy</a></li>-->
        <!--<li><a href="#small-dialog4" class="play-icon popup-with-zoom-anim">Send feedback</a></li>-->
        <!--<li><a href="privacy.html">Policy & Safety </a></li>-->
        <!--<li><a href="try.html">Try something new!</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <div class="footer-bottom">
            <ul>
                <li class="languages">
                    <select class="form-control bfh-countries" data-country="US">
                        <option value="">Select Language</option>
                        <option>Spanish</option>
                        <option>French</option>
                        <option>German</option>
                        <option>Italian</option>
                    </select>
                </li>
                <li class="languages">
                    <select class="form-control bfh-countries">
                        <option value="MTQ">Martinique</option>
                        <option value="MRT">Mauritania</option>
                        <option value="MUS">Mauritius</option>
                    </select>
                </li>
                <li class="languages">
                    <select class="form-control bfh-countries" data-country="US">
                        <option value="">Safety Off</option>
                        <option value="">Safety On</option>
                    </select>
                </li>
                <li><a href="" class="f-history">History</a></li>
                <li><a href="" class="play-icon popup-with-zoom-anim f-history f-help">Help</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- //footer -->