<header class="bg-white-only header header-md navbar navbar-fixed-top-xs">
    <div class="navbar-header aside bg-info dk">
        <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
            <i class="icon-list"></i>
        </a>
        <a href="index.html" class="navbar-brand text-lt">
            <i class="icon-earphones"></i>
            <img src="/public/test/picture/logo.png" alt="." class="hide">
            <span class="hidden-nav-xs m-l-sm">中学化学教学</span>
        </a>
        <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
            <i class="icon-settings"></i>
        </a>
    </div>      <ul class="nav navbar-nav hidden-xs">
    <li>
        <a href="#nav,.navbar-header" data-toggle="class:nav-xs,nav-xs" class="text-muted">
            <i class="fa fa-indent text"></i>
            <i class="fa fa-dedent text-active"></i>
        </a>
    </li>
</ul>
    <!--<form class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs" method="post" action="/index.php/index/index/select" role="search">-->
        <!--<div class="form-group">-->
            <!--<div class="input-group">-->
            <!--<span class="input-group-btn">-->
              <!--<button type="submit" class="btn btn-sm bg-white btn-icon rounded"><i class="fa fa-search"></i></button>-->
            <!--</span>-->
                <!--<input type="text" name="content" class="form-control input-sm no-border rounded" placeholder="输入实验名称">-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
    {if condition="$User.username eq '0'"}
    <div class="navbar-right ">
        <ul class="nav navbar-nav m-n hidden-xs nav-user user">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle bg clear" data-toggle="dropdown">
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="picture/a0.png" alt="">
              </span>
                    未登录 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu animated fadeInRight aside text-left">
                    <li>
                        <a href="">Help</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/index.php/index/login">登录</a>
                    </li>
                    <li>
                        <a href="/index.php/index/login/signup">注册</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    {else /}
    <div class="navbar-right ">
        <ul class="nav navbar-nav m-n hidden-xs nav-user user">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle bg clear" data-toggle="dropdown">
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="{$User.photo}" alt="">
              </span>
                    {$User.username} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu animated fadeInRight">
                    <li>
                        <span class="arrow top"></span>
                        <a href="/index.php/index/account/setting">个人设置</a>
                    </li>
                    <li>
                        <a href="/index.php/index/account">我的主页</a>
                    </li>
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<span class="badge bg-danger pull-right">3</span>-->
                            <!--我的消息-->
                        <!--</a>-->
                    <!--</li>-->
                    <li>
                        <a href="">使用帮助</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/index.php/index/login/logout" >退出登录</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    {/if}

</header>