<aside class="bg-black dk aside hidden-print" id="nav">
    <section class="vbox">
        <section class="w-f-md scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">



                <!-- nav -->
                <nav class="nav-primary hidden-xs">
                    <ul class="nav bg clearfix">
                    <!--<ul class="nav">-->
                        <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                            功能界面
                        </li>
                        <li>
                            <a href="/index.php/index/index">
                                <i class="icon-disc icon text-success"></i>
                                <span class="font-bold">教学首页</span>
                            </a>
                        </li>
                        <li>
                            <a  href="/index.php/index/index/gao_index">
                                <i class="icon-music-tone-alt icon text-info"></i>
                                <span class="font-bold">高中化学</span>
                            </a>
                        </li>
                        <li>
                            <a href="/index.php/index/index/chu_index">
                                <i class="icon-drawer icon text-primary-lter"></i>
                                <!--<b class="badge bg-primary pull-right">6</b>-->
                                <span class="font-bold">初中化学</span>
                            </a>
                        </li>
                        <script>
                            function tip() {
                                location.href = "/index.php/index/index/gao_index";
                            }
                        </script>
                        <!--<li>-->
                            <!--<a href="listen.html">-->
                                <!--<i class="icon-list icon  text-info-dker"></i>-->
                                <!--<span class="font-bold">Listen</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="video.html" data-target="#content" data-el="#bjax-el" data-replace="true">-->
                                <!--<i class="icon-social-youtube icon  text-primary"></i>-->
                                <!--<span class="font-bold">Video</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="m-b hidden-nav-xs"></li>-->

                    </ul>
                    <ul class="nav" data-ride="collapse">
                        <!--<li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">-->
                            <!--Interface-->
                        <!--</li>-->

                        <li >
                            <a href="#" class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-angle-left text"></i>
                          <i class="fa fa-angle-down text-active"></i>
                        </span>
                                <i class="icon-list icon  text-info-dker">
                                </i>
                                <span>实验类型</span>
                            </a>
                            <ul class="nav dk text-sm">

                                <li >
                                    <a href="/index.php/index/index/reaction?type=1" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>化合反应</span>
                                    </a>
                                </li>
                                <li >
                                    <a href="/index.php/index/index/reaction?type=2" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>中和反应</span>
                                    </a>
                                </li>
                                <li >
                                    <a href="/index.php/index/index/reaction?type=3" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>分解反应</span>
                                    </a>
                                </li>
                                <li >
                                    <a href="/index.php/index/index/reaction?type=4" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>复分解反应</span>
                                    </a>
                                </li>
                                <li >
                                    <a href="/index.php/index/index/reaction?type=5" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>氧化还原反应</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!--<ul class="nav text-sm">-->
                        <!--<li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">-->
                            <!--<span class="pull-right"><a href="#"><i class="icon-plus i-lg"></i></a></span>-->
                            <!--Playlist-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">-->
                                <!--<i class="icon-music-tone icon"></i>-->
                                <!--<span>Hip-Pop</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">-->
                                <!--<i class="icon-playlist icon text-success-lter"></i>-->
                                <!--<b class="badge bg-success dker pull-right">9</b>-->
                                <!--<span>Jazz</span>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                </nav>