<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$title}</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/public/admin/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/public/admin/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/public/admin/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/public/admin/css/admin.css">
    <link rel="stylesheet" href="/public/admin/css/app.css">
</head>

<body data-type="generalComponents">


{include file="index/header"/}


<div class="tpl-page-container tpl-page-header-fixed">
    {include file="index/menu"/}


    <div class="tpl-content-wrapper">
        <!--<div class="tpl-content-page-title">-->
        <!--Amaze UI 表单-->
        <!--</div>-->
        <!--<ol class="am-breadcrumb">-->
        <!--<li><a href="#" class="am-icon-home">首页</a></li>-->
        <!--<li><a href="#">表单</a></li>-->
        <!--<li class="am-active">Amaze UI 表单</li>-->
        <!--</ol>-->
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 评论列表
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <!--<i class="am-icon-search"></i>-->
                            <input type="hidden" class="form-control form-control-solid" placeholder="搜索..."></div>
                    </div>
                </div>


            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <!--<button type="button" class="am-btn am-btn-default am-btn-success"><span-->
                                        <!--class="am-icon-plus"></span> 新增-->
                                <!--</button>-->
                                <!--<button type="button" class="am-btn am-btn-default am-btn-secondary"><span-->
                                        <!--class="am-icon-save"></span> 保存-->
                                <!--</button>-->
                                <!--<button type="button" class="am-btn am-btn-default am-btn-warning"><span-->
                                        <!--class="am-icon-archive"></span> 审核-->
                                <!--</button>-->
                                <!--<button type="button" class="am-btn am-btn-default am-btn-danger"><span-->
                                        <!--class="am-icon-trash-o"></span> 删除-->
                                <!--</button>-->
                            </div>
                        </div>
                    </div>

                </div>

                <!--<button-->
                        <!--type="button"-->
                        <!--class="am-btn am-btn-danger"-->
                        <!--data-am-modal="{target: '#my-popup'}">-->
                    <!--Popup-->
                <!--</button>-->

                <div class="am-popup" id="my-popup" style="height: 60%;margin-top: -10%;">
                    <div class="am-popup-inner" style="">
                        <div class="am-popup-hd">
                            <h4 class="am-popup-title">查看评论</h4>
                            <span data-am-modal-close
                                  class="am-close">&times;</span>
                        </div>
                        <div class="am-popup-bd">
                            <ul class="am-comments-list am-comments-list-flip">
                                <li class="am-comment">
                                    <article class="am-comment">
                                        <a href="#link-to-user-home">
                                            <img src="" alt="" class="am-comment-avatar" width="48" height="48"/>
                                        </a>

                                        <div class="am-comment-main">
                                            <header class="am-comment-hd">
                                                <!--<h3 class="am-comment-title">评论标题</h3>-->
                                                <div class="am-comment-meta">
                                                    <a href="#link-to-user" class="am-comment-author">某人</a>
                                                    评论于 <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-12 15:30</time>
                                                </div>
                                            </header>

                                            <div class="am-comment-bd">
                                                ...
                                            </div>
                                        </div>
                                    </article>
                                </li>
                                <li class="am-comment am-comment-flip">
                                    <article class="am-comment">
                                        <a href="#link-to-user-home">
                                            <img src="" alt="" class="am-comment-avatar" width="48" height="48"/>
                                        </a>

                                        <div class="am-comment-main">
                                            <header class="am-comment-hd">
                                                <!--<h3 class="am-comment-title">评论标题</h3>-->
                                                <div class="am-comment-meta">
                                                    <a href="#link-to-user" class="am-comment-author">某人</a>
                                                    评论于 <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-12 15:30</time>
                                                </div>
                                            </header>

                                            <div class="am-comment-bd">
                                                ...
                                            </div>
                                        </div>
                                    </article>
                                </li>
                                <li class="am-comment am-comment-flip"></li>

                                <li class="am-comment am-comment-highlight"></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
                    <div class="am-modal-dialog">
                        <div class="am-modal-hd">回复评论</div>
                        <div class="am-modal-bd">
                            <textarea rows="3" class="am-modal-prompt-input"></textarea>
                        </div>
                        <div class="am-modal-footer">
                            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                            <span class="am-modal-btn" data-am-modal-confirm>提交</span>
                        </div>
                    </div>
                </div>

                <script>
                    function tanchu(c_id) {
                        $('#my-prompt').modal({
                            relatedTarget: this,
                            onConfirm: function (e) {
                                alert('你输入的是：' + e.data + c_id|| '')
//                                location.href = '/admin.php/admin/comment/add_comment';
                            }
                        });
                    }

                </script>

                <ul class="tpl-task-list tpl-task-remind">
                    {volist name="list" id="line"}
                    <li>
                        <div class="cosB">
                            {$line.add_time}
                        </div>
                        <div class="cosA">

                            用户：{$line.username} <span>
                            <span
                                  >
                                在《{$line.e_title}》实验中评论：{$line.content}
                            </span>
                            <!--(点击可查看详细及回复)-->
                            <!--<?php if($line['state']==1){?>-->
                            <!--<span class="tpl-label-info" onclick="tanchu('')"> 未回复(点击回复)-->
                                                            <!--<i class="am-icon-share"></i>-->
                                <!--</span>-->
                            <!--<?php }else{?>-->
                            <!--<span class="tpl-label-info" > 已回复-->
                                                            <!--<i class="am-icon-share"></i>-->
                                <!--</span>-->
                            <!--<?php }?>-->
                        </span>
                        </div>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="/public/admin/js/jquery.min.js"></script>
<script src="/public/admin/js/amazeui.min.js"></script>
<script src="/public/admin/js/app.js"></script>
</body>

</html>